.nav {
  display: flex;
  transition: all 0.4s;
  height: 80px;
  background-color: #eee;
}
.nav__item {
  padding: 25px 15px;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  color: rgb(144, 144, 144);
  transition: all 0.4s;
}
.active{
    color: #111;
    font-weight: 700;
}
.nav__item:hover {
  color: #111;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(10, 94, 122);
    }

    .nav{
        opacity: 0;
        flex-direction: column;
        
    }
    .nav__item{
        color: #fff;
    }
  }