.box{
    border: 1px solid rgb(224, 216, 216);
    width: 700px;
    height: 300px;
    display: flex;
    margin: 25px auto;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(120, 20, 129);
    color: #fff;
}
img{
   border-radius: 25px;
   margin-left: 15px; 
}