body , html {
    margin: 0;
    padding: 0;
}

#screen{
    width: 450px;
    height: 80px;
    background-color: #999;
}
#clickBtn{
    width: 450px;
    height: 50px;
}

#clickBtn:hover{
    background-color: rgb(80, 23, 23);
}

#clickBtn:active{
    background-color: rgb(167, 54, 54);
}