html body {
    margin: 0;
    padding: 0;
    background-color: rgb(9, 2, 15);
}
.form{
    background-color: rgb(22, 4, 37);
    color: rgb(185, 185, 185);
    width: 600px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(102, 102, 102, 0.5) ;
    margin: 150px auto;
    border: 1px solid #555;
}

.form__title{
    text-align: center;
   
}
.form__identifer{
    text-align: right;
    font-size: 22px;
}
.form__data{
    text-align: right;
    font-size: 28px;
}

.form__submit{
    text-align: center;
    width: 160px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 5px auto;
    background-color: rgb(102, 29, 114);
    cursor: pointer;
}
.form__submit:hover {
    box-shadow: 0px 10px 30px rgba(102, 102, 102, 0.527) ;
    background-color: rgb(69, 19, 77);
}